.stuff-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  .projects-title {
    display: flex;
    font-size: 80px;
  }
}

.card {
  display: flex;
  background-color: #ff6d6d;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  height: 10rem;
  width: 25%;
  text-align: center;
  border-radius: 10px;
}

.timeline {
  .timeline-line {
    margin-top: -40vh;
    margin-bottom: -3vh;
  }
}

.parallax {
  margin-right: 5%;
}

.sticky {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-left: 5%;
  margin-top: 2%;
}

.blue {
  background-color: #5b65ad;
  color: white;
}

.purple {
  background-color: #9d65d0;
}

$other-color: #343944;
$other-color-2: #4b5262;

.date-carousel {
  display: flex;
  justify-content: center;
  background-color: $other-color;
  width: fit-content;
  height: fit-content;
}

.triangle-up {
  position: absolute;
  width: 0px;
	height: 0px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid $other-color;
  margin-top: -20px;
}

.letter-carousel-outer {
  display: flex;
  flex-direction: column;
  background-color: $other-color-2;
  height: 9vw;
  padding: 5px;
  font-size: 7.5vw;
  margin: 5px;
  overflow: hidden;
}

.letter-carousel-inner {

}

.letter-carousel {

}