.texts-container {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  .boxes {
    width: 95%;
    margin-right: 5%;
    .box {
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }
}

.kiplepay-image {
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 30vw;
}

.tech-line {
  display: flex;
  flex-direction: row;
}

.main-text-container {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.kiplepay-image-container {
  position: absolute;
  margin-left: 60vw;
}

.tech-info-div {
  margin-top: 50vh;
  margin-left: 5vw;
  .tech-info-title {
    font-size: 25px;
  }
  .tech-line {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}