.title {
  padding: 10px;
  font-size: 30px;
  margin-left: 10px;
  // background-color: #383d48;
}

.date {
  color:rgb(80, 80, 80);
  width: 100%;
  text-align: center;
}


.mainText {
  width: 40vw;
  margin-left: 20px;
  font-size: 17.5px;
  position: absolute;
}

.titleCenter {
  width: 100%;
  text-align: center;
  font-size: 30px;
}
